In [1]:
import pandas as pd
from sqlalchemy import create_engine
from pandasql import *
pysqldf = lambda q: sqldf(q, globals())

In [2]:
def redshift():
    global eng
    with open('/home/mnamoff/Credentials/MXRedshift_user') as user_file:
        username = user_file.read()
    with open('/home/mnamoff/Credentials/MXRedshift_pw') as user_pass:
        password = user_pass.read()
    eng = create_engine("postgres://" + username + ":" + password + "@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds")
    return(eng)
redshift()

Engine(postgres://rds_read:***@prd-jj-redshift-rds.c1iaphtcvqvg.us-east-1.redshift.amazonaws.com:5439/rds)

In [3]:
stores = pd.read_pickle("/home/mnamoff/masterlist.pkl")

In [4]:
q = """

SELECT storeid, ts.businessday, fiscalyear, week, dow, SUM(sales) AS total_sales, 
    SUM(CASE WHEN servicetypeid IN (5,0,6,1) THEN sales ELSE 0 END) AS inshop_sales,
    SUM(CASE WHEN servicetypeid IN (2,7) THEN sales ELSE 0 END) AS delivery_sales,
    SUM(trx) as total_trans,
    SUM(CASE WHEN servicetypeid IN (5,0,6,1) THEN trx ELSE 0 END) AS inshop_trans,
    SUM(CASE WHEN servicetypeid IN (2,7) THEN trx ELSE 0 END) AS delivery_trans
FROM (
      SELECT storeid, businessday,EXTRACT(dayofweek FROM businessday) AS dow, servicetypeid, SUM(amount) AS sales, SUM(transactioncount) as trx
      FROM transactionsale
      WHERE businessday BETWEEN cast(getdate() AS date)-730 AND cast(getdate() AS date)-1
      AND storeid IN (9,11)
      GROUP BY storeid, businessday, dow, servicetypeid
      ) ts

INNER JOIN (
      SELECT fiscalyear, periodnumber AS week, businessday
      FROM fiscalcalendar
      WHERE businessday BETWEEN cast(getdate() AS date)-730 AND cast(getdate() AS date)-1
           )fc
         
ON ts.businessday = fc.businessday


GROUP BY storeid, ts.businessday, fiscalyear, week, dow
ORDER BY businessday

"""

In [5]:
comp = pd.read_sql_query(q, eng)

In [6]:
q = """

SELECT comp1.storeid, 
comp1.fiscalyear AS ty_fiscalyear, 
comp1.week AS ty_week,
comp1.dow AS ty_dow, 
comp1.businessday AS businessday,
comp1.total_sales AS ty_sales, 
comp1.inshop_sales AS ty_inshop_sales, 
comp1.delivery_sales AS ty_delivery_sales,
comp1.total_trans as ty_trans, 
comp1.inshop_trans as ty_inshop_trans,
comp1.delivery_trans as ty_delivery_trans,
comp2.fiscalyear AS ly_fiscalyear, 
comp2.week AS ly_week, 
comp2.dow AS ly_dow, 
comp2.total_sales AS ly_sales, 
comp2.inshop_sales AS ly_inshop_sales, 
comp2.delivery_sales AS ly_delivery_sales,
comp2.total_trans as ly_trans, 
comp2.inshop_trans as ly_inshop_trans,
comp2.delivery_trans as ly_delivery_trans
FROM comp as comp1
INNER JOIN comp as comp2
ON comp1.storeid = comp2.storeid
AND ty_fiscalyear = (ly_fiscalyear + 1)
AND ty_week = ly_week
AND ty_dow = ly_dow

"""

In [7]:
r = pysqldf(q)

In [8]:
result = r.groupby([#"storeid",
               #"ty_fiscalyear",
                "ty_week"
                #"ty_dow",
                #"businessday"
                ]).agg({'ty_sales':sum,
                        'ty_inshop_sales':sum,
                        'ty_delivery_sales':sum,
                        'ty_trans':sum,
                        'ty_inshop_trans':sum,
                        'ty_delivery_trans':sum,
                        'ly_sales':sum, 
                        'ly_inshop_sales':sum,
                        'ly_delivery_sales':sum,
                        'ly_trans':sum, 
                        'ly_inshop_trans':sum,
                        'ly_delivery_trans':sum,
                        #'storeid':pd.Series.nunique
                       })
result = result.reset_index()

#IF NOT GROUPING BY STOREID

result.head()

#IF NOT GROUPING BY STOREID

result = result.drop(columns=[#'storeid', 
                              #'ty_fiscalyear',
                              #'ty_week',
                              #ty_dow,
                              #'ty_sales'
                              'ty_inshop_sales',
                              'ty_delivery_sales',
                              #'ty_trans',
                              'ty_inshop_trans',
                              'ty_delivery_trans',
                              #'ly_sales',
                              'ly_inshop_sales',
                              'ly_delivery_sales',
                              #'ly_trans',
                              'ly_inshop_trans',
                              'ly_delivery_trans',
                              #'storenumber',
                              'status',
                              'opened',
                              'closed',
                              'relocated',
                              'transferred',
                              'remodeled',
                              'franchisee',
                              'address1',
                              'address2',
                              'city',
                              'state',
                              'zip',
                              'county',
                              'dma',
                              'region_id',
                              'region_name',
                              'latitude',
                              'longitude',
                              'loctype',
                              'designtype',
                              'drivethru',
                              'pos',
                              'pos_install'
                             ])

#IF NOT GROUPING BY STOREID

result.head()

#IF NOT GROUPING BY STOREID

result.to_excel('COMP_LIST.xlsx', index=False)

In [ ]:
result = result.merge(stores, on='storeid', how='inner')

In [ ]:
result = result.drop(columns=[#'storeid', 
                              #'ty_fiscalyear',
                              #'ty_week',
                              #ty_dow,
                              #'ty_sales'
                              'ty_inshop_sales',
                              'ty_delivery_sales',
                              #'ty_trans',
                              'ty_inshop_trans',
                              'ty_delivery_trans',
                              #'ly_sales',
                              'ly_inshop_sales',
                              'ly_delivery_sales',
                              #'ly_trans',
                              'ly_inshop_trans',
                              'ly_delivery_trans',
                              #'storenumber',
                              'status',
                              'opened',
                              'closed',
                              'relocated',
                              'transferred',
                              'remodeled',
                              'franchisee',
                              'address1',
                              'address2',
                              'city',
                              'state',
                              'zip',
                              'county',
                              'dma',
                              'region_id',
                              'region_name',
                              'latitude',
                              'longitude',
                              'loctype',
                              'designtype',
                              'drivethru',
                              'pos',
                              'pos_install'
                             ])

In [ ]:
result

result.to_excel('COMP_LIST.xlsx', index=False)